In [1]:
import pandas as pd

In [4]:
names = ['sachin','kohli','sehwag','dhoni','yuvraj','shami','ishant']
series = pd.Series(names, index=['a','b','c','d','e','f','g'])

In [5]:
series

a    sachin
b     kohli
c    sehwag
d     dhoni
e    yuvraj
f     shami
g    ishant
dtype: object

In [6]:
# first 5 observations
series.head()

a    sachin
b     kohli
c    sehwag
d     dhoni
e    yuvraj
dtype: object

In [8]:
# last 5 observations
series.tail()

c    sehwag
d     dhoni
e    yuvraj
f     shami
g    ishant
dtype: object

In [9]:
series[0]

'sachin'

In [10]:
series['a']

'sachin'

In [11]:
series[0:3]

a    sachin
b     kohli
c    sehwag
dtype: object

In [12]:
data = {
    "names" : ['thor','hulk','ironman','batman','superman','spiderman','KGF','Baahubali'],
    "rating" : [4.0, 3.5, 5.0, 4.5, 4.5, 5.0, 4.0, 5.0]
}

In [13]:
df = pd.DataFrame(data)

In [14]:
df

       names  rating
0       thor     4.0
1       hulk     3.5
2    ironman     5.0
3     batman     4.5
4   superman     4.5
5  spiderman     5.0
6        KGF     4.0
7  Baahubali     5.0

In [16]:
df['names'][0:3]

0       thor
1       hulk
2    ironman
Name: names, dtype: object

In [17]:
df['rating'] == 5.0

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7     True
Name: rating, dtype: bool

In [18]:
df[df['rating'] == 5.0]

       names  rating
2    ironman     5.0
5  spiderman     5.0
7  Baahubali     5.0