In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train.shape

(891, 12)

In [5]:
pd.unique(train['Parch'])

array([0, 1, 2, 5, 3, 4, 6], dtype=int64)

In [6]:
y_train = train['Survived']

In [7]:
columns = ['PassengerId','Survived','Name','Age','Ticket','Cabin','Embarked']
train = train.drop(labels=columns, axis=1)

In [8]:
train = pd.get_dummies(train, columns=['Sex'])

In [9]:
train.shape

(891, 6)

In [10]:
train.head()

   Pclass  SibSp  Parch     Fare  Sex_female  Sex_male
0       3      1      0   7.2500           0         1
1       1      1      0  71.2833           1         0
2       3      0      0   7.9250           1         0
3       1      1      0  53.1000           1         0
4       3      0      0   8.0500           0         1

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
scaler = MinMaxScaler()
x_train = scaler.fit_transform(train)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score

In [15]:
alpha = [0.1,0.01,0.5,0.05,1.0,0.8,2.0,1.5]
for lr in alpha:
    gb = GradientBoostingClassifier(n_estimators=20, learning_rate=lr,max_features=2, max_depth=2)
    gb.fit(x_train, y_train)
    print("Learning rate",lr)
    print("Accuracy Score",gb.score(x_train,y_train))
    print()

Learning rate 0.1
Accuracy Score 0.8069584736251403

Learning rate 0.01
Accuracy Score 0.6161616161616161

Learning rate 0.5
Accuracy Score 0.8148148148148148

Learning rate 0.05
Accuracy Score 0.7867564534231201

Learning rate 1.0
Accuracy Score 0.8361391694725028

Learning rate 0.8
Accuracy Score 0.8226711560044894

Learning rate 2.0
Accuracy Score 0.5263748597081931

Learning rate 1.5
Accuracy Score 0.8372615039281706