## Strings

In [2]:
text = "hello how are you ?..I am good..."

In [3]:
text = 'hello how are you ?'

text = """hello how are you
I am good..."""

In [4]:
text = 'hello "world"'

In [5]:
print(text)

hello "world"

In [6]:
text = "Hello World, this is Python Programming"

In [7]:
text[0]

'H'

In [8]:
text[10]

'd'

In [9]:
text[0:10]

'Hello Worl'

In [10]:
text[10]

'd'

In [11]:
text[:]

'Hello World, this is Python Programming'

In [12]:
text[10:]

'd, this is Python Programming'

In [13]:
text[:10]

'Hello Worl'

In [18]:
text

'Hello World, this is Python Programming'

In [19]:
# text[lower : upper : step=+1]

text[20:1]

''

In [20]:
# text[upper : lower : step=-1]
text[20:1:-1]

' si siht ,dlroW oll'

In [21]:
# text[start=10 : end = 0, step = -1]
text[10::-1]

'dlroW olleH'

In [22]:
text[::-1]

'gnimmargorP nohtyP si siht ,dlroW olleH'

In [24]:
text

'Hello World, this is Python Programming'

In [23]:
text[-1]

'g'

In [25]:
text[-2]

'n'

In [27]:
text[-1:-10:-1]

'gnimmargo'

In [28]:
text[-10:-1]

'rogrammin'

In [29]:
len(text)

39

In [31]:
print(dir(text))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [32]:
text.lower()

'hello world, this is python programming'

In [33]:
text.upper()

'HELLO WORLD, THIS IS PYTHON PROGRAMMING'

In [34]:
text.title()

'Hello World, This Is Python Programming'

In [35]:
text.capitalize()

'Hello world, this is python programming'

In [36]:
text.swapcase()

'hELLO wORLD, THIS IS pYTHON pROGRAMMING'

In [37]:
text.count('o')

4

In [38]:
text.count('i')

3

In [42]:
# text.index('i')
text.index('i',0)

15

In [40]:
text.index('i',16)

18

In [41]:
text.index('i',19)

36

In [43]:
text.index('z')

ValueError: substring not found

In [45]:
text.find('z')

-1

In [47]:
text.replace('Hello','bye')

'bye World, this is Python Programming'

In [49]:
text

'Hello World, this is Python Programming'

In [50]:
del text[0]

TypeError: 'str' object doesn't support item deletion

In [51]:
text[0] = 'I'

TypeError: 'str' object does not support item assignment

## List

In [52]:
data = [4,3,5,7,7,3,"hello","hi",10.55]

In [53]:
type(data)

list

In [54]:
data[0]

4

In [55]:
data[0:5]

[4, 3, 5, 7, 7]

In [56]:
data[::-1]

[10.55, 'hi', 'hello', 3, 7, 7, 5, 3, 4]

In [57]:
data = []

In [58]:
data.append(10)

In [59]:
data

[10]

In [60]:
data.append(20)

In [61]:
data

[10, 20]

In [62]:
data.append(30)

In [63]:
data.clear()

In [64]:
data

[]

In [65]:
for i in range(0,51):
    if i % 2 == 0:
        data.append(i)

In [67]:
print(data)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [68]:
del data[0]

In [69]:
del data[5:10]

In [70]:
data

[2, 4, 6, 8, 10, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [71]:
data[0:10] = 8,9

In [72]:
data

[8, 9, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [73]:
data.append(10,20)

TypeError: append() takes exactly one argument (2 given)

In [74]:
data.append([10,3,12,44,67,11])

In [75]:
data

[8, 9, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, [10, 3, 12, 44, 67, 11]]

In [76]:
data.pop()

[10, 3, 12, 44, 67, 11]

In [77]:
data

[8, 9, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [78]:
data.extend([10,3,12,44,67,11])

In [79]:
data

[8, 9, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 10, 3, 12, 44, 67, 11]

In [80]:
data.pop()

11

In [81]:
data.pop(6)

40

In [82]:
data.sort()

In [83]:
data

[3, 8, 9, 10, 12, 32, 34, 36, 38, 42, 44, 44, 46, 48, 50, 67]

In [84]:
data.sort(reverse=True)

In [85]:
data

[67, 50, 48, 46, 44, 44, 42, 38, 36, 34, 32, 12, 10, 9, 8, 3]

In [86]:
data.insert(0,100)

In [87]:
data

[100, 67, 50, 48, 46, 44, 44, 42, 38, 36, 34, 32, 12, 10, 9, 8, 3]

In [88]:
data.remove(42)

In [89]:
# delete by index - pop
# delete by value - remove

## Tuples

In [91]:
# x = (3,5,7,8,3,12)
x = 3,4,6,4,4,7,87

In [92]:
x[0]

3

In [93]:
x[0:5]

(3, 4, 6, 4, 4)

In [94]:
del x[0]

TypeError: 'tuple' object doesn't support item deletion

In [95]:
x[0] = 100

TypeError: 'tuple' object does not support item assignment

In [96]:
x.count(3)

1

In [97]:
x.index(3)

0

In [98]:
data = name, age, salary = 'Ram', 45, 50000

In [99]:
data

('Ram', 45, 50000)

In [100]:
name

'Ram'

In [101]:
age

45

In [102]:
salary

50000

In [103]:
data = ('Ram',45,'IT',56000)

In [104]:
name, age, dept, salary = data

In [105]:
# unpacking

In [106]:
name

'Ram'

In [107]:
age

45

In [109]:
# name, age, dept = data

## Dictionary

In [110]:
data = {}

In [111]:
type(data)

dict

In [112]:
data = {"name" : "John", "age" : 45, "dept" : "IT"}

In [113]:
data.keys()

dict_keys(['name', 'age', 'dept'])

In [114]:
data.values()

dict_values(['John', 45, 'IT'])

In [116]:
data["name"]

'John'

In [117]:
data["age"]

45

In [118]:
data = {"names" : ["John","Smith","Tom","Mac","Sam"], 
       "dept" : ["HR","IT","IT","HR","SALES"],
       "address" : ["Delhi","Pune","Chennai","Pune","Delhi"]}

In [119]:
data["names"]

['John', 'Smith', 'Tom', 'Mac', 'Sam']

In [120]:
data["dept"]

['HR', 'IT', 'IT', 'HR', 'SALES']

In [121]:
data["names"][0]

'John'

In [122]:
data["names"][1]

'Smith'

In [123]:
data["salary"] = [45000,56000,78000,42000,90000]

In [124]:
data

{'names': ['John', 'Smith', 'Tom', 'Mac', 'Sam'],
 'dept': ['HR', 'IT', 'IT', 'HR', 'SALES'],
 'address': ['Delhi', 'Pune', 'Chennai', 'Pune', 'Delhi'],
 'salary': [45000, 56000, 78000, 42000, 90000]}

In [125]:
data = [
    {"name" : "John", "dept" : "IT", "address" : "Delhi", "salary" : 45000},
    {"name" : "Mac", "dept" : "IT", "address" : "Pune", "salary" : 50000},
    {"name" : "Smith", "dept" : "IT", "address" : "Chennai", "salary" : 95000},
]

In [126]:
data[0]

{'name': 'John', 'dept': 'IT', 'address': 'Delhi', 'salary': 45000}

In [127]:
data[1]

{'name': 'Mac', 'dept': 'IT', 'address': 'Pune', 'salary': 50000}

In [128]:
data[0]["name"]

'John'